In [1]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("Resource/IMDb_movies.csv", low_memory=False)
df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [27]:
movies_cols= ["title", "year", "genre", "description", "budget", "usa_gross_income", "worlwide_gross_income"]
df_movies= df[movies_cols].copy()
print("Shape: " + str(df_movies.shape))
df_movies.head()

Shape: (85855, 7)

,title,year,genre,description,budget,usa_gross_income,worlwide_gross_income
0,Miss Jerry,1894,Romance,The adventures of a female reporter in the 1890s.,NaN,NaN,NaN
1,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",True story of notorious Australian outlaw Ned ...,$ 2250,NaN,NaN
2,Den sorte drøm,1911,Drama,Two men of high rank are both wooing the beaut...,NaN,NaN,NaN
3,Cleopatra,1912,"Drama, History",The fabled queen of Egypt's affair with Roman ...,$ 45000,NaN,NaN
4,L'Inferno,1911,"Adventure, Drama, Fantasy",Loosely adapted from Dante's Divine Comedy and...,NaN,NaN,NaN

In [28]:
df_movies.dropna(inplace=True)
print("Shape: " + str(df_movies.shape))

Shape: (8109, 7)

In [29]:
df_movies.head()

,title,year,genre,description,budget,usa_gross_income,worlwide_gross_income
165,Il gabinetto del dottor Caligari,1920,"Fantasy, Horror, Mystery","Hypnotist Dr. Caligari uses a somnambulist, Ce...",$ 18000,$ 8811,$ 8811
245,I quattro cavalieri dell'Apocalisse,1921,"Drama, Romance, War",An extended family split up in France and Germ...,$ 800000,$ 9183673,$ 9183673
506,Metropolis,1927,"Drama, Sci-Fi",In a futuristic city sharply divided between t...,DEM 6000000,$ 1236166,$ 1349711
1048,Luci della città,1931,"Comedy, Drama, Romance","With the aid of a wealthy erratic tippler, a d...",$ 1500000,$ 19181,$ 46008
2454,Tempi moderni,1936,"Comedy, Drama, Family",The Tramp struggles to live in modern industri...,$ 1500000,$ 163577,$ 457688

In [30]:
df_movies["budget"] = df_movies["budget"].replace('[\$,]', '', regex=True)
df_movies["budget"] = df_movies["budget"].replace('[A-Z]+', '', regex=True)
df_movies.head()

,title,year,genre,description,budget,usa_gross_income,worlwide_gross_income
165,Il gabinetto del dottor Caligari,1920,"Fantasy, Horror, Mystery","Hypnotist Dr. Caligari uses a somnambulist, Ce...",18000,$ 8811,$ 8811
245,I quattro cavalieri dell'Apocalisse,1921,"Drama, Romance, War",An extended family split up in France and Germ...,800000,$ 9183673,$ 9183673
506,Metropolis,1927,"Drama, Sci-Fi",In a futuristic city sharply divided between t...,6000000,$ 1236166,$ 1349711
1048,Luci della città,1931,"Comedy, Drama, Romance","With the aid of a wealthy erratic tippler, a d...",1500000,$ 19181,$ 46008
2454,Tempi moderni,1936,"Comedy, Drama, Family",The Tramp struggles to live in modern industri...,1500000,$ 163577,$ 457688

In [31]:
df_movies["budget"] = df_movies["budget"].astype(float)
df_movies.head()

,title,year,genre,description,budget,usa_gross_income,worlwide_gross_income
165,Il gabinetto del dottor Caligari,1920,"Fantasy, Horror, Mystery","Hypnotist Dr. Caligari uses a somnambulist, Ce...",18000.0,$ 8811,$ 8811
245,I quattro cavalieri dell'Apocalisse,1921,"Drama, Romance, War",An extended family split up in France and Germ...,800000.0,$ 9183673,$ 9183673
506,Metropolis,1927,"Drama, Sci-Fi",In a futuristic city sharply divided between t...,6000000.0,$ 1236166,$ 1349711
1048,Luci della città,1931,"Comedy, Drama, Romance","With the aid of a wealthy erratic tippler, a d...",1500000.0,$ 19181,$ 46008
2454,Tempi moderni,1936,"Comedy, Drama, Family",The Tramp struggles to live in modern industri...,1500000.0,$ 163577,$ 457688

In [32]:
df_movies["usa_gross_income"] = df_movies["usa_gross_income"].replace('[\$,]', '', regex=True).astype(float)
df_movies.head()

,title,year,genre,description,budget,usa_gross_income,worlwide_gross_income
165,Il gabinetto del dottor Caligari,1920,"Fantasy, Horror, Mystery","Hypnotist Dr. Caligari uses a somnambulist, Ce...",18000.0,8811.0,$ 8811
245,I quattro cavalieri dell'Apocalisse,1921,"Drama, Romance, War",An extended family split up in France and Germ...,800000.0,9183673.0,$ 9183673
506,Metropolis,1927,"Drama, Sci-Fi",In a futuristic city sharply divided between t...,6000000.0,1236166.0,$ 1349711
1048,Luci della città,1931,"Comedy, Drama, Romance","With the aid of a wealthy erratic tippler, a d...",1500000.0,19181.0,$ 46008
2454,Tempi moderni,1936,"Comedy, Drama, Family",The Tramp struggles to live in modern industri...,1500000.0,163577.0,$ 457688

In [33]:
df_movies["worlwide_gross_income"] = df_movies["worlwide_gross_income"].replace('[\$,]', '', regex=True).astype(float)
df_movies.head()

,title,year,genre,description,budget,usa_gross_income,worlwide_gross_income
165,Il gabinetto del dottor Caligari,1920,"Fantasy, Horror, Mystery","Hypnotist Dr. Caligari uses a somnambulist, Ce...",18000.0,8811.0,8811.0
245,I quattro cavalieri dell'Apocalisse,1921,"Drama, Romance, War",An extended family split up in France and Germ...,800000.0,9183673.0,9183673.0
506,Metropolis,1927,"Drama, Sci-Fi",In a futuristic city sharply divided between t...,6000000.0,1236166.0,1349711.0
1048,Luci della città,1931,"Comedy, Drama, Romance","With the aid of a wealthy erratic tippler, a d...",1500000.0,19181.0,46008.0
2454,Tempi moderni,1936,"Comedy, Drama, Family",The Tramp struggles to live in modern industri...,1500000.0,163577.0,457688.0

In [36]:
def calculate_profitablity_factor(row):
    profit = row["worlwide_gross_income"] - row["budget"]
    large_loss_factor = -2*row["budget"]
    loss_factor = -.5*row["budget"]
    large_gain_factor = 2*row["budget"]
    gain_factor = .5*row["budget"]
    factor = ""
    if profit < large_loss_factor:
        factor = "large loss"
    elif profit < loss_factor:
        factor = "loss"
    elif profit >= loss_factor and profit <= gain_factor:
        factor = "break even"
    elif profit > large_gain_factor:
        factor = "large gain"
    else:
        factor = "gain"
    return factor

In [37]:
df_movies["profit_factor"] = df_movies.apply(calculate_profitablity_factor, axis=1)
df_movies.head()

,title,year,genre,description,budget,usa_gross_income,worlwide_gross_income,profit_factor
165,Il gabinetto del dottor Caligari,1920,"Fantasy, Horror, Mystery","Hypnotist Dr. Caligari uses a somnambulist, Ce...",18000.0,8811.0,8811.0,loss
245,I quattro cavalieri dell'Apocalisse,1921,"Drama, Romance, War",An extended family split up in France and Germ...,800000.0,9183673.0,9183673.0,large gain
506,Metropolis,1927,"Drama, Sci-Fi",In a futuristic city sharply divided between t...,6000000.0,1236166.0,1349711.0,loss
1048,Luci della città,1931,"Comedy, Drama, Romance","With the aid of a wealthy erratic tippler, a d...",1500000.0,19181.0,46008.0,loss
2454,Tempi moderni,1936,"Comedy, Drama, Family",The Tramp struggles to live in modern industri...,1500000.0,163577.0,457688.0,loss

In [38]:
df_movies.to_csv("Resource/IMDB_sean.csv")