In [ ]:
# # Connect to Google Drive
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [99]:
# import dependencies
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
import string
import re
plt.style.use('ggplot')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [115]:
# read in csv
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/Final-Project/Resource/IMDb_movies.csv")

# df = pd.read_csv("Resource/IMDB_movies.csv", low_memory=False)
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [116]:
# clean the data
# extract only the column we want:
# Movie title/Rating/Duration/Release Date/Genres
# quanitfy string
movies_cols = ["imdb_title_id", "title", "year", "genre", "description", "metascore"]
df_movies = df[movies_cols].copy()

print(f"Shape: {str(df_movies.shape)}")
df_movies.head()

Shape: (85855, 6)

  imdb_title_id  ... metascore
0     tt0000009  ...       NaN
1     tt0000574  ...       NaN
2     tt0001892  ...       NaN
3     tt0002101  ...       NaN
4     tt0002130  ...       NaN

[5 rows x 6 columns]

In [117]:
df_movies.dropna(inplace=True)

print(f"Shape: {str(df_movies.shape)}")
df_movies.head()

Shape: (13279, 6)

    imdb_title_id  ... metascore
76      tt0006864  ...      99.0
506     tt0017136  ...      98.0
566     tt0018037  ...      66.0
628     tt0018773  ...      90.0
714     tt0019777  ...      69.0

[5 rows x 6 columns]

In [111]:
# function for text cleaning 
def clean_text(text):
    # remove backslash-apostrophe 
    text = re.sub("\'", "", text) 
    # remove everything except alphabets 
    text = re.sub("[^a-zA-Z]"," ",text) 
    # remove whitespaces 
    text = ' '.join(text.split()) 
    # convert text to lowercase 
    text = text.lower()
    
    return text

def clean_title(name):
    # remove backslash-apostrophe 
    name = re.sub("\'", "", name) 
    # remove everything except alphabets 
    name = re.sub("[^a-zA-Z]"," ",name) 
    # remove whitespaces 
    name = ' '.join(name.split()) 
    # convert text to lowercase 
    # text = text.lower()
    
    return name


def lower_case(case):
    case = case.lower()

    return case

In [118]:
#  df_movies["description"] = df_movies["description"].apply(lambda x: clean_text(x))
df_movies["title"] = df_movies["title"].apply(lambda x: clean_title(x))
df_movies["year"] = df_movies["year"].astype(str)
df_movies["genre"] =  df_movies["genre"].apply(lambda x: lower_case(x))
df_movies.head()

    imdb_title_id  ... metascore
76      tt0006864  ...      99.0
506     tt0017136  ...      98.0
566     tt0018037  ...      66.0
628     tt0018773  ...      90.0
714     tt0019777  ...      69.0

[5 rows x 6 columns]

In [119]:
df_movies["words"] = df_movies["title"] + " " + df_movies["description"]
df_movies["words"] = df_movies["words"].apply(lambda x: clean_text(x))

df_movies.head()

    imdb_title_id  ...                                              words
76      tt0006864  ...  intolerance the story of a poor young woman se...
506     tt0017136  ...  metropolis in a futuristic city sharply divide...
566     tt0018037  ...  il cantante di jazz the son of a jewish cantor...
628     tt0018773  ...  il circo the tramp finds work and the girl of ...
714     tt0019777  ...         the cocoanuts during the florida land boom

[5 rows x 7 columns]

In [120]:
stop_words = set(stopwords.words("english"))

def remove_stopwords(text):
    no_stopword_text = [w for w in text.split() if not w in stop_words]
    return ' '.join(no_stopword_text)

df_movies["words"] = df_movies["words"].apply(lambda x: remove_stopwords(x))

In [85]:
df_movies.head()

    imdb_title_id  ...                                              words
76      tt0006864  ...  intolerance story poor young woman separated p...
506     tt0017136  ...  metropolis futuristic city sharply divided wor...
566     tt0018037  ...  il cantante di jazz son jewish cantor must def...
628     tt0018773  ...       il circo tramp finds work girl dreams circus
714     tt0019777  ...                        cocoanuts florida land boom

[5 rows x 7 columns]

In [121]:
df_movies = df_movies.drop(["metascore", "year", "description"], axis=1)
df_movies.head()

    imdb_title_id  ...                                              words
76      tt0006864  ...  intolerance story poor young woman separated p...
506     tt0017136  ...  metropolis futuristic city sharply divided wor...
566     tt0018037  ...  il cantante di jazz son jewish cantor must def...
628     tt0018773  ...       il circo tramp finds work girl dreams circus
714     tt0019777  ...                        cocoanuts florida land boom

[5 rows x 4 columns]

In [122]:
# movie_id, plot, movie_name, genre_new

df_movies = df_movies.rename(columns = {"imdb_title_id": "movie_id", "title": "movie_name", "words": "plot"})
df_movies = df_movies.reset_index()
df_movies.head()

   index  ...                                               plot
0     76  ...  intolerance story poor young woman separated p...
1    506  ...  metropolis futuristic city sharply divided wor...
2    566  ...  il cantante di jazz son jewish cantor must def...
3    628  ...       il circo tramp finds work girl dreams circus
4    714  ...                        cocoanuts florida land boom

[5 rows x 5 columns]

In [123]:
df_movies.to_csv("/content/gdrive/MyDrive/Colab Notebooks/Final-Project/Resource/IMDB_eliot3.csv")