In [15]:
import warnings
warnings.simplefilter('ignore')
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [16]:
ml_movies=pd.read_csv("Resource/IMDB_cora.csv")
ml_movies

       Unnamed: 0          country       language  world_gross_income
0              79           Russia        Russian            144968.0
1             165          Germany         German              8811.0
2             222              USA        English            772155.0
3             245              USA        English           9183673.0
4             251              USA        English             26916.0
...           ...              ...            ...                 ...
30851       85847            India      Malayalam              4791.0
30852       85850  France, Belgium         French           3507171.0
30853       85851      Netherlands  German, Dutch           7299062.0
30854       85853           Turkey        Turkish              2833.0
30855       85854            Spain        Catalan             59794.0

[30856 rows x 4 columns]

In [17]:
ml_movies= ml_movies.drop("Unnamed: 0", axis=1)
ml_movies

               country       language  world_gross_income
0               Russia        Russian            144968.0
1              Germany         German              8811.0
2                  USA        English            772155.0
3                  USA        English           9183673.0
4                  USA        English             26916.0
...                ...            ...                 ...
30851            India      Malayalam              4791.0
30852  France, Belgium         French           3507171.0
30853      Netherlands  German, Dutch           7299062.0
30854           Turkey        Turkish              2833.0
30855            Spain        Catalan             59794.0

[30856 rows x 3 columns]

In [18]:
ml_movies["language"].unique()

array(['Russian', 'German', 'English', ...,
       'Thai, English, Mandarin, Cantonese', 'English, Finnish, Mandarin',
       'German, Dutch'], dtype=object)

In [19]:
#Create function to replace labels
English = ["English","english","English,None"]
def clean(response):
    if response.lower().rstrip() in English:
        return "English"
    else:
        return "NonEnglish"
ml_movies["language"] = ml_movies["language"].apply(lambda x: clean(x))
print(ml_movies)

               country    language  world_gross_income
0               Russia  NonEnglish            144968.0
1              Germany  NonEnglish              8811.0
2                  USA     English            772155.0
3                  USA     English           9183673.0
4                  USA     English             26916.0
...                ...         ...                 ...
30851            India  NonEnglish              4791.0
30852  France, Belgium  NonEnglish           3507171.0
30853      Netherlands  NonEnglish           7299062.0
30854           Turkey  NonEnglish              2833.0
30855            Spain  NonEnglish             59794.0

[30856 rows x 3 columns]

In [20]:
#Set up definition for X and y and reshape the data
X=ml_movies["language"]
y=ml_movies["world_gross_income"].values.reshape(-1,1)
print(X,y)

0        NonEnglish
1        NonEnglish
2           English
3           English
4           English
            ...
30851    NonEnglish
30852    NonEnglish
30853    NonEnglish
30854    NonEnglish
30855    NonEnglish
Name: language, Length: 30856, dtype: object [[1.449680e+05]
 [8.811000e+03]
 [7.721550e+05]
 ...
 [7.299062e+06]
 [2.833000e+03]
 [5.979400e+04]]

In [21]:
# Apply label encoding to categorize the language as being English or non-English
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

data = X.copy()
label_encoder.fit(data)
label_encoder.classes_

array(['English', 'NonEnglish'], dtype=object)

In [22]:
#Transform the data using label encoding
label_encoder.transform(data)
X = pd.get_dummies(X)
X = X.to_numpy()
X= X.reshape(-1,1)

In [23]:
#Split the data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [61712, 30856]

In [ ]:
#Create a StandardScaler model
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

In [ ]:
#Transform training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()

In [ ]:
classifier.fit(X_train_scaled, y_train_scaled)

In [ ]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train_scaled)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test_scaled)}")

In [ ]:
predictions = classifier.predict(X_test_scaled)

In [ ]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test_scaled}).reset_index(drop=True)

In [ ]:
#Conclusion: Logistic Regression did not work, so decided to use tensorflow to create an analysis of existing data to make a prediction, which is that English language movies are the highest grossing movies.