In [1]:
import pandas as pd
import numpy as np
import os 
import tensorflow as tf
from sklearn.neighbors import KNeighborsClassifier
from tensorflow.keras import layers
from tensorflow.keras import preprocessing

In [2]:
ml_movies= pd.read_csv("Resource/IMDB_cora.csv")
ml_movies.head()

   Unnamed: 0  country language  world_gross_income
0          79   Russia  Russian            144968.0
1         165  Germany   German              8811.0
2         222      USA  English            772155.0
3         245      USA  English           9183673.0
4         251      USA  English             26916.0

In [3]:
ml_movies= ml_movies.drop("Unnamed: 0", axis=1)
ml_movies.head()

   country language  world_gross_income
0   Russia  Russian            144968.0
1  Germany   German              8811.0
2      USA  English            772155.0
3      USA  English           9183673.0
4      USA  English             26916.0

In [4]:
English = ["English","english","English,None"]
def clean(response):
    if response.lower().rstrip() in English:
        return "English"
    else:
        return "NonEnglish"
ml_movies["language"] = ml_movies["language"].apply(lambda x: clean(x))
print(ml_movies)

               country    language  world_gross_income
0               Russia  NonEnglish            144968.0
1              Germany  NonEnglish              8811.0
2                  USA     English            772155.0
3                  USA     English           9183673.0
4                  USA     English             26916.0
...                ...         ...                 ...
30851            India  NonEnglish              4791.0
30852  France, Belgium  NonEnglish           3507171.0
30853      Netherlands  NonEnglish           7299062.0
30854           Turkey  NonEnglish              2833.0
30855            Spain  NonEnglish             59794.0

[30856 rows x 3 columns]

In [5]:
ml_languages=ml_movies["language"]
ml_languages=np.array(ml_languages)
ml_languages

array(['NonEnglish', 'NonEnglish', 'English', ..., 'NonEnglish',
       'NonEnglish', 'NonEnglish'], dtype=object)

In [6]:
X=ml_languages
y=ml_movies["world_gross_income"].values.reshape(-1,1)
print(X,y)

['NonEnglish' 'NonEnglish' 'English' ... 'NonEnglish' 'NonEnglish'
 'NonEnglish'] [[1.449680e+05]
 [8.811000e+03]
 [7.721550e+05]
 ...
 [7.299062e+06]
 [2.833000e+03]
 [5.979400e+04]]

In [7]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
label_encoder.fit(X)
encoded_X = label_encoder.transform(X)

In [8]:
from keras.utils import to_categorical

one_hot_X = to_categorical(encoded_X)
one_hot_X=one_hot_X[:,0]
one_hot_X=one_hot_X.reshape(-1,1)

Using TensorFlow backend.

In [9]:
from sklearn.model_selection import train_test_split

one_hot_X_train, one_hot_X_test, y_train, y_test = train_test_split(one_hot_X, y, random_state=1)

In [10]:
from sklearn.svm import SVR
model = SVR(kernel='linear')
model.fit(one_hot_X_train, y_train.ravel())

SVR(kernel='linear')

In [11]:
#Create a StandardScaler model
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(one_hot_X_train)
y_scaler = StandardScaler().fit(y_train)

In [12]:
X_train_scaled = X_scaler.transform(one_hot_X_train)
X_test_scaled = X_scaler.transform(one_hot_X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [13]:
from sklearn.metrics import mean_squared_error

predictions = model.predict(one_hot_X_test)
r2 = model.score(one_hot_X_test, y_test)

print(f"R2: {r2}")

R2: -0.05606688723078901

In [14]:
#Conclusion: The low value of R2 demonstrate that the data does not fit this regression model very well. Another model should be attempted.